body {
  background-color: green;
}

.board{
  height: 20%%;
  width: 100%;
}

.players-deck {
  float: left;
  margin: 0 0 0 10%;
  height: 182px;
  width: 125px;
  border: 3px solid black;
  background-image: url("./images/card_back.png");
}

.player-deck-label {
  float: left;
  margin: 0 0 0 23%;
}

.opponent-deck-label {
  float: right;
  margin: 0 23% 0 0;
}

.play-war{

}
.opponents-deck {
  float: right;
  margin: 0 10% 0 0;
  height: 182px;
  width: 125px;
  border: 3px solid red;
  background-image: url("./images/card_back.png");
}

.flipped-cards {
  display: flex;
  justify-content: space-between;
  margin: 11.4% 30% 4% 30%;
}

.player-card {
  height: 182px;
  width: 125px;
  border: 3px solid black;
}

.player-war-card {
  height: 182px;
  width: 125px;
  border: 3px solid black;
}

.opponent-war-card {
  height: 182px;
  width: 125px;
  border: 3px solid red;
}
.opponent-card {
  height: 182px;
  width: 125px;
  border: 3px solid red;
}



.vs {
  font-size: 3em;
  margin: 10% auto;
  background-color: red;
  border: 0px;
}

.vs:hover{
  background-color: orange;
}

.player-card.winTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: -50% !important;
  margin-right: -50% !important;
}

.opponent-card.loseTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-right: 127% !important;
}

.player-card.loseTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 127% !important;
}

.opponent-card.winTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: -50% !important;
  margin-right: -50% !important;
}

h1 {
  text-align: center;
}
